.work {
  
  width: 75%;
  margin: auto;
  @media (max-width:750px) {
    width: 90%;
  }
  .work-block {
    text-align: center;
    margin-top: 70px;
    width: 80%;
    margin: 100px auto auto auto;
    color: #454658;
    h3 {
      font-size: 30px;
    }
    p {
      margin-top: 26px;
      letter-spacing: 1px;
      font-weight: lighter;
    }
  }
  .block-frame {
    margin: 40px auto auto auto;
    width: 80%;
    
    img {
      object-fit: cover;
      width: 100%;
      margin: auto;
      border: 1px solid #454658;
    }
  }
  .usage-block {
    margin: auto;
  
    margin-bottom: 0px;

    max-width: 900px;
    .usage {
      margin-top: 35px;
      height: 250px;
      position: relative;
     
      .usage-text {
      
        width: 100%;
        top: 30px;
        text-align: center;
        color: #454658;
        h3 {
          font-size: 30px;
        }
        p {
          font-size: 17px;
          font-weight: lighter;
          margin-top: 15px;
        }
      }
      img {
        width: 100%;
        left: 15px;
        height: 250px;
        top: -20px;
        position: absolute;
        z-index: -10;
        
      }
    }
    .usage-code {
      position: relative;
      background-color: #fff;
      padding: 80px 45px;
      width: 100%;
      border-radius: 4px;
      margin-top:-100px;
      @media (max-width:750px) {
        padding: 30px 5px 0px;
      }
      .rust-btn{
        height: 28px;
        width:56px;
        background:#5D64D2;
        border-radius: 5px;
        font-weight: bold;
        color: #fff;
        position: absolute;
        top: 25px;
        left: 25px;
        @media (max-width:750px) {
          width: 35px;
          height: 18px;
          font-size: 8px;
          border-radius: 3px;
          top: 5px;
          left: 5px;
        }
      }
      img {
        object-fit: cover;
        width: 100%; 
       
      }
    }
  }
.button-center{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  @media (max-width:600px) {
   flex-direction: column;
   align-items: center;
   }
}
.button{
  display:flex;
  border-radius: 3px;
  background-color: #454658;
  height: 40px;
  width: 200px;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 40px 20px 0 0;
 
  i{
      margin: auto 7px auto 4px;
      color: #fff;    
  }
}
.button2{
  display:flex;
  border-radius: 3px;
  background-color: #5D64D2;
  height: 40px;
  width: 200px;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 40px 20px 0 0;
 
  i{
      margin: auto 7px auto 4px;
      color: #fff;    
  }
}
}



