* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #F9F9FD;
}

.header-logo {
  height: 120px;
  width: 100%;
  background: #151B2B;
}
.header-logo .logo img {
  margin: 40px auto auto 100px;
}

.home {
  display: flex;
  background-color: #151B2B;
  height: 700px;
}
.home .home-description {
  margin: 75px auto auto 100px;
  width: 30%;
  height: 700px;
}
@media (max-width: 1070px) {
  .home .home-description {
    width: 80%;
    margin: 100px auto;
  }
}
.home .home-description .home-titre {
  color: #fff;
  letter-spacing: 0.05rem;
  display: flex;
  font-size: 24px;
  position: relative;
}
@media (max-width: 500px) {
  .home .home-description .home-titre {
    height: 100px;
  }
}
@media (max-width: 360px) {
  .home .home-description .home-titre {
    height: 150px;
  }
}
.home .home-description .home-titre h1 {
  width: 100%;
}
.home .home-description .home-titre span {
  position: absolute;
  left: 155px;
  bottom: 0px;
}
@media (max-width: 500px) {
  .home .home-description .home-titre span {
    left: 0px;
  }
}
.home .home-description .text-titre {
  margin-top: 25px;
  text-align: left;
  color: #fff;
  font-size: 23px;
}
.home .home-description p {
  margin-top: 25px;
  text-align: left;
  color: #8686B2;
}
.home .home-description .button {
  display: inline-block;
  border-radius: 3px;
  background-color: #454658;
  padding: 9px 16px 9px 16px;
  color: #fff;
  margin: 40px 25px auto auto;
}
.home .home-description .button i {
  margin: auto 7px auto 4px;
  color: #fff;
}
.home .home-description .button2 {
  display: inline-block;
  border-radius: 3px;
  background-color: #6578C0;
  padding: 9px 16px 9px 16px;
  color: #fff;
  margin-top: 40px;
}
.home .home-description .button2 i {
  margin: auto 7px auto 4px;
  color: #fff;
}
.home .home-img {
  position: absolute;
  right: 100px;
  top: 70px;
}
@media (max-width: 1170px) {
  .home .home-img {
    width: 400px;
    top: 180px;
  }
}
@media (max-width: 1070px) {
  .home .home-img {
    visibility: hidden;
  }
}
.home .home-img img {
  width: 500px;
}
@media (max-width: 1170px) {
  .home .home-img img {
    width: 400px;
  }
}
@media (max-width: 1270px) {
  .home .home-img {
    right: 10px;
  }
}

.work {
  width: 75%;
  margin: auto;
}
@media (max-width: 750px) {
  .work {
    width: 90%;
  }
}
.work .work-block {
  text-align: center;
  margin-top: 70px;
  width: 80%;
  margin: 100px auto auto auto;
  color: #454658;
}
.work .work-block h3 {
  font-size: 30px;
}
.work .work-block p {
  margin-top: 26px;
  letter-spacing: 1px;
  font-weight: lighter;
}
.work .block-frame {
  margin: 40px auto auto auto;
  width: 80%;
}
.work .block-frame img {
  object-fit: cover;
  width: 100%;
  margin: auto;
  border: 1px solid #454658;
}
.work .usage-block {
  margin: auto;
  margin-bottom: 0px;
  max-width: 900px;
}
.work .usage-block .usage {
  margin-top: 35px;
  height: 250px;
  position: relative;
}
.work .usage-block .usage .usage-text {
  width: 100%;
  top: 30px;
  text-align: center;
  color: #454658;
}
.work .usage-block .usage .usage-text h3 {
  font-size: 30px;
}
.work .usage-block .usage .usage-text p {
  font-size: 17px;
  font-weight: lighter;
  margin-top: 15px;
}
.work .usage-block .usage img {
  width: 100%;
  left: 15px;
  height: 250px;
  top: -20px;
  position: absolute;
  z-index: -10;
}
.work .usage-block .usage-code {
  position: relative;
  background-color: #fff;
  padding: 80px 45px;
  width: 100%;
  border-radius: 4px;
  margin-top: -100px;
}
@media (max-width: 750px) {
  .work .usage-block .usage-code {
    padding: 30px 5px 0px;
  }
}
.work .usage-block .usage-code .rust-btn {
  height: 28px;
  width: 56px;
  background: #5D64D2;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 25px;
  left: 25px;
}
@media (max-width: 750px) {
  .work .usage-block .usage-code .rust-btn {
    width: 35px;
    height: 18px;
    font-size: 8px;
    border-radius: 3px;
    top: 5px;
    left: 5px;
  }
}
.work .usage-block .usage-code img {
  object-fit: cover;
  width: 100%;
}
.work .button-center {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
@media (max-width: 600px) {
  .work .button-center {
    flex-direction: column;
    align-items: center;
  }
}
.work .button {
  display: flex;
  border-radius: 3px;
  background-color: #454658;
  height: 40px;
  width: 200px;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 40px 20px 0 0;
}
.work .button i {
  margin: auto 7px auto 4px;
  color: #fff;
}
.work .button2 {
  display: flex;
  border-radius: 3px;
  background-color: #5D64D2;
  height: 40px;
  width: 200px;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 40px 20px 0 0;
}
.work .button2 i {
  margin: auto 7px auto 4px;
  color: #fff;
}

.services {
  width: 90%;
  height: 1210px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}
@media (max-width: 960px) {
  .services {
    height: auto;
  }
}
.services .service-block {
  height: auto;
  width: 410px;
  margin-top: 90px;
  color: #454658;
}
@media (max-width: 600px) {
  .services .service-block {
    width: 290px;
  }
}
.services .service-block .img-block {
  padding: 10px;
  width: 100%;
  height: 200px;
}
.services .service-block h3 {
  margin-top: 35px;
}
.services .service-block img {
  width: 50%;
  object-fit: cover;
}
.services .service-block p {
  margin-top: 30px;
  font-weight: lighter;
}
.services .service-block .img-small {
  width: 90%;
}
.services .service-block h4 {
  text-align: left;
}
.services .block {
  margin-bottom: -35px;
}

.end-text {
  width: 30%;
  height: 220px;
  margin: auto;
  text-align: center;
  justify-content: center;
  font-weight: lighter;
  color: #454658;
}
@media (max-width: 960px) {
  .end-text {
    margin-top: 130px;
    width: 70%;
  }
}

.block-footer {
  width: 100%;
  height: 145px;
  background-color: #151B2B;
}

/*# sourceMappingURL=style.css.map */
